.header {
  min-height: 90vh;

  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;

  background-image: url('../images/background-mtn.jpg');

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#intro {
  // align-self: center;
  padding: 0 3rem;
  margin-bottom: 10rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
  h1 {
    font-weight: 200;
    font-family: Roboto, sans-serif;
    font-size: 5rem;
    color: #f0f0f0;
  }
  p {
    padding: 0 5px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    margin: 0.5rem 0;
  }
}
