.layout {
  display: flex;
  flex-flow: column;
}
/********** About section styles **********/
#about {
  // max-width: 720px;

  margin-top: 1rem;
  height: 75vh;

  padding: 5rem 2rem;
  border: 2px solid #333333;
  border-radius: 2px;

  @media (max-width: 415px) {
    width: 100%;
  }
}
.about_wall {
  // background-image: url('../images/ancient-architecture.jpg');

  height: 99vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  display: flex;
}
.text_container {
  height: 100%;
  font-weight: bold;
  // background-color: rgba(245, 245, 245, 0.247);
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-flow: column;
  }
  h2 {
    font-size: 42px;
    align-self: center;
    margin-bottom: 3rem;
  }
  p {
    height: 100%;
    width: 50%;
    margin: 0;
    text-align: center;
    padding: 1rem 3rem;

    border-left: 2px solid #333333;
    @media (max-width: 768px) {
      width: 90%;
      margin: 0 auto;
      padding: 1rem;
      border: none;
    }
  }
}
/***************************************/
.titles {
  margin: 4rem 0;
  text-align: center;
}

/********** Projects section **********/
#projects {
  // height: 100vh;
  // background-color: grey;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  margin: 1rem 0;
}

.p {
  height: 40vh;
  background-position: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 2rem;
}
.details {
  text-decoration: none;
  margin: 0 auto;
  padding: 5px;
  // background-color: grey;
}
/**** GiveMeMyMoney ****/
#gmmm {
  background-image: url('../images/Capture.png');
}
/**** Lambda Notes ****/
#lambdanotes {
  background-image: url('../images/lambdanotes.png');
}
#chronicle {
  background-image: url('../images/chrncle.jpg');
}
