.layout {
  display: flex;
  flex-flow: column;
}
.titles {
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  width: 80%;
}

/********** About section styles **********/
#about {
  margin-bottom: 1rem;
  height: 80vh;
  border: 1px solid #333333;
  border-radius: 3px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  @media (max-width: 415px) {
    width: 100%;
  }
}

.text_container {
  height: 100%;
  font-weight: bold;
  width: 100%;
  display: flex;
  // padding: 1rem;

  @media (max-width: 768px) {
    flex-flow: column;
  }

  p {
    line-height: 2em;
    // height: 100%;
    width: 60%;
    margin: 0;
    text-align: center;
    padding: 3rem 1rem 3rem 3rem;
    border-left: 2px solid #333333;

    @media (max-width: 768px) {
      border-left: none;
      width: 90%;
      margin: 0 auto;
      padding: 1rem 0;
      // border: none;
    }
  }
}
/***************************************/

/********** Projects section **********/
#projects {
  height: auto;
  // overflow: hidden;
  width: 85%;
  display: flex;
  flex-flow: column;
  margin: 1rem auto;
  padding: 0;
  border-radius: 5px;
  // border: 1px solid #333333;
  @media (max-width: 400px) {
    // align-items: center;
    width: 90%;
  }
}

.grid {
  display: flex;
  justify-content: center;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
  margin: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  @media (max-width: 768px) {
    // border-right: none;
  }
  &:hover {
    margin-bottom: 10px;
    padding: 10px;
  }
}

.p {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 40vh;
  padding: 0 !important;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0;

  font-size: 2rem;
  transition: ease-in 0.4s;
  // &:hover {
  //   border-radius: 20px 10px 0 0;
  // }
  &-name {
    display: flex;
    border-radius: 4px 0 0 4px;
    // opacity: 0;
    transition: 0.4s;
    height: 100%;
    text-align: center;
    color: #f0f0f0;
    &:hover {
      color: #333333;
      transition: 0.4s;
      height: 100%;
      // opacity: 1;
      background-color: #f0f0f0be;
    }
    h1 {
      // border-top: 2px solid #333333;
      // background-color: #333333be;
      align-self: flex-end;
      font-size: 2rem;
      width: 100%;
      padding: 20px;
      height: fit-content;
    }

    p {
      z-index: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      padding: 3rem;
      font-size: 20px;
      border-left: 2px solid #333333;
      transition: 0.4s;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.details {
  text-align: right;
  margin-left: 0;
  background-color: rgb(245, 245, 245);
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  &-links {
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    font-size: 2rem;
    transition: 0.4s;
    a {
      color: black;
      padding: 10px;
      transition: 0.4s;
      &:hover {
        color: #1c4f91;
        font-size: 2.2rem;
      }
    }
  }
}

/**** GiveMeMyMoney ****/
#gmmm {
  background-image: url('../images/Capture.png');
}
/**** Lambda Notes ****/
#lambdanotes {
  background-image: url('../images/lambdanotes.png');
}
#chronicle {
  background-image: url('../images/chrncle.jpg');
}
/*****************************************/

/**** Contact me section ****/

#contact {
  height: 100vh;
  padding: 0;
  // max-width: 90% !important;
}

.form {
  // height: 75vh;
  width: 100%;
  // padding: 0 1rem;
  margin: 0;
  border-radius: 2px;

  label {
    font-size: 24px;
    margin: 10px;
    color: #f0f0f0;
  }
  &-groups {
    height: 22vh;
    padding: 2rem !important;
    display: flex;
    flex-flow: column;
    border-bottom: 2px solid #5fa5ff73;
    background-color: #333333;
    // border-radius: 3px 3px 0 0;
    input {
      // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      outline: none;
      width: 80%;
      padding: 10px;
      border-radius: 5px;

      background-color: rgb(245, 245, 245);
      border: 1px solid #333333;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &-button {
    margin: 1rem auto;
    width: 150px;
    padding: 10px;
    background-color: #333333;
    border: none;
    border-radius: 3px;
    border: 2px solid #5fa5ff73;
    cursor: pointer;
    transition: ease-in 0.3s all;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #f0f0f0;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
}

#messagefield {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 2rem;
  // border: 2px solid #555555;
  background-color: #333333;
  height: 50vh;
  border-radius: 0 0 3px 3px;
  textarea {
    margin-bottom: 2rem;
    padding: 1rem;
    height: 60%;
    width: 70%;
    resize: none;
    align-self: center;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: rgb(245, 245, 245);

    @media (max-width: 450px) {
      width: 100%;
    }
  }
}

.myinfo {
  background-color: rgba(245, 245, 245, 0.637);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 200px;
  padding: 1rem;
  border: 1px solid #333333;

  a {
    margin-bottom: 1rem;
    color: #1c4f91;

    &:before {
      content: '<';
    }
    &:after {
      content: '>';
    }
  }
}
/****************************/

.foot {
  display: flex;
  flex-flow: column;
  height: 60vh;
  padding: 0 15px;
  // margin-top: 5rem;
  text-align: center;

  @media (max-width: 500px) {
    // margin-top: 15rem;
    height: 50vh;
  }

  &-links {
    padding-top: 2rem;
  }
}
