.layout {
  display: flex;
  flex-flow: column;
}
.titles {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  width: 95%;
  background-color: transparent;
  border-radius: 5px;
  color: #396080;

  h2 {
    border-bottom: 2px solid #5fb7ffb2;
    margin: 1rem auto;
    padding: 1rem;
    width: fit-content;
    color: #f0f0f0;
    font-weight: 100;
    font-family: Roboto, sans-serif;
    font-size: 3rem;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.sections {
  padding: 2rem 0;
  border-bottom: 20px solid #f0f0f00e;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.16), 0px -2px 6px rgba(0, 0, 0, 0.23);
}
/********** About section styles **********/
#about {
  min-height: 100vh;

  @media (max-width: 415px) {
    width: 100%;
  }
}
#me {
  border-radius: 50%;
  margin: 2rem auto;
  height: 300px;
  width: 300px;
  background-image: url('../images/IMG_20180829_130103.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.text_container {
  // background-color: #f0f0f0;
  color: #f0f0f0;
  height: 100%;
  font-weight: bold;
  width: 100%;
  // margin: 0 auto;
  display: flex;
  flex-flow: column;
  border: 1px solid #333333;
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;

  @media (max-width: 768px) {
    flex-flow: column;
    // width: 90%;
  }

  p {
    align-self: center;
    line-height: 2em;
    width: 60%;
    margin: 0;
    text-align: center;
    padding: 1rem;
    font-size: 18px;
    font-weight: 200;
    font-family: Calibri, Arial, sans-serif;

    @media (max-width: 768px) {
      border-left: none;
      width: 90%;
      margin: 0 auto;
      padding: 1rem 0;
      font-size: 16px;
      // border: none;
    }
  }
}
/***************************************/

/********** Projects section **********/
#projects {
  height: auto;
  // overflow: hidden;
  width: 100%;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding-bottom: 1rem;

  @media (max-width: 400px) {
    margin: 0;
    width: 100%;
  }
}

.grid {
  display: flex;
  justify-content: center;
  margin: 5px auto !important;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  &:hover {
    margin: 10px;
    padding: 10px;
  }

  @media (max-width: 768px) {
    // width: 80%;
    margin: 0 auto !important;
  }
  @media (max-width: 414px) {
    width: 100%;
  }
}

.p {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 40vh;
  min-height: 300px;
  padding: 0 !important;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0;
  font-size: 2rem;
  border-radius: 5px 0 0 5px;
  border: 3px solid #333333;
  // transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    // border-right-width: 10px;
  }

  @media (max-width: 767px) {
    border-radius: 5px 5px 0 0;
  }

  &-name {
    display: flex;
    transition: 0.4s;
    height: 100%;
    text-align: center;
    color: #f0f0f0;
    background-color: #33333375;
    &:hover {
      color: #333333;
      transition: 0.4s;
      height: 100%;
      // opacity: 1;
      background-color: #f0f0f0be;
    }

    h1 {
      align-self: flex-end;
      font-weight: 300;
      font-family: Roboto, 'sans';
      font-size: 2rem;
      width: 95%;
      padding: 20px;
      height: fit-content;
    }

    p {
      // z-index: 0;
      width: 100%;
      height: 100%;
      // opacity: 0;
      position: absolute;
      padding: 3rem;
      font-weight: 400;
      font-size: 18px;
      // transition: 0.4s;
    }
  }
}
.details {
  text-align: right;
  margin: 0;
  background-color: #333333;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0 5px 5px 0;
  @media (max-width: 768px) {
    border-radius: 0 0 5px 5px;
  }

  &-links {
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    font-size: 2rem;
    transition: 0.4s;
    a {
      width: fit-content;
      color: #f0f0f0;
      align-self: center;
      transition: 0.4s;
      font-size: 30px;

      &:hover {
        color: #5fb7ffb2;
        // font-size: 2.2rem;
      }
    }
    @media (max-width: 768px) {
      padding: 8px 0;
    }
    @media (max-width: 767px) {
      flex-flow: row;
    }
  }
}

/**** GiveMeMyMoney ****/
#gmmm {
  background-image: url('../images/Capture.png');
}
/**** Lambda Notes ****/
#lambdanotes {
  background-image: url('../images/lambdanotes.png');
}
#chronicle {
  background-image: url('../images/chrncle.jpg');
}
/*****************************************/

/**** Contact me section ****/

#contact {
  height: 100%;
  padding: 0;
  width: 100%;
}

.form {
  margin: 5px auto;
  border-radius: 2px;
  width: 83%;
  // border-top: 2px solid #5fa5ff73;

  @media (max-width: 768px) {
    width: 100%;
  }
  label {
    font-size: 24px;
    font-weight: 300;
    font-family: Roboto, 'sans-serif';
    margin: 10px;
    color: #f0f0f0;
  }
  &-groups {
    height: 22vh;
    padding: 2rem !important;
    display: flex;
    flex-flow: column;
    background-color: #333333;
    input {
      outline: none;
      width: 80%;
      padding: 10px;
      border-radius: 3px;
      color: #f0f0f0;
      background-color: #3f3f3f;
      border: 1px solid #333333;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &-button {
    margin: 1rem auto;
    width: 150px;
    padding: 10px;
    background-color: #333333;
    border: none;
    border-radius: 3px;
    border: 2px solid #5fb7ffb2;
    cursor: pointer;
    transition: ease-in 0.3s all;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #f0f0f0;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
}

#messagefield {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 2rem;
  background-color: #333333;
  height: 50vh;

  textarea {
    margin-bottom: 2rem;
    padding: 1rem;
    height: 60%;
    width: 70%;
    resize: none;
    align-self: center;
    outline: none;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #333333;
    color: #f0f0f0;
    background-color: #3f3f3f;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.myinfo {
  background-color: rgba(245, 245, 245, 0.925);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 200px;
  padding: 1rem;
  border-bottom: 2px solid #333333;
  a {
    margin-bottom: 1rem;
    color: #333333;
    &:hover {
      text-decoration-line: none;
      color: #5fb7ffb2;
    }
    &:before {
      content: '<';
    }
    &:after {
      content: '>';
    }
  }
}
/****************************/

.foot {
  display: flex;
  flex-flow: column;
  text-align: center;

  &-links {
    height: inherit;
    display: flex;
    align-items: center;
    color: #f0f0f0;
    background-color: #333333;
    a {
      color: #f0f0f0;
      &:hover {
        color: #5fb7ffb2;
      }
    }
  }
}
