@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.bar {
  background-color: rgb(29, 34, 44);
  box-shadow: rgb(24, 31, 46) 0px 10px 20px -3px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  // transition: 0.4s all;
  height: 66px;
}

.nav {
  display: flex;
  width: 80%;

  @media (max-width: 550px) {
    justify-content: space-around;
    width: 100%;
  }
  li {
    text-decoration: none;
    margin: 0;
  }

  &-i {
    text-align: center;
    color: #f0f0f0;
    width: 20%;
    margin-bottom: 0;
    padding: 1rem 0;
    font-family: Roboto, 'sans-serif';
    font-weight: 200;
    text-decoration: none !important;

    transition: 0.5s all;

    &:hover {
      transition: 0.5s all;
      color: #7ed8ff;
      border-bottom: 1px solid #7ed8ff;
    }
  }
  &-anim {
    animation: fade-in-bottom 0.6s;
  }
}
