@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    color: #7ed8ff;
  }
}

.bar {
  background-color: rgb(29, 35, 46);
  // box-shadow: rgb(24, 31, 46) 0px 10px 20px -3px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: 0.4s all;
  height: 60px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
}

.nav {
  width: 45%;
  display: flex;
  justify-content: space-between;
  transition: 0.4s;
  padding: 0 20px;
  @media (max-width: 630px) {
    width: 100%;
    padding: 0 10px;
  }

  li {
    margin: 0;
    padding: 1px;
  }

  &-i {
    text-align: baseline;
    height: fit-content;
    color: #f0f0f0;
    // width: 22%;
    margin: auto 0;
    padding: 1rem 0;
    font-family: Roboto, 'sans-serif';
    font-weight: 300;
    text-decoration: none !important;
    font-size: 15px;
    transition: 0.4s;

    &:hover {
      transition: 0.4s;
      color: #7ed8ff;
      border-bottom: 0.5px solid #2c3a4485;
    }
    @media (max-width: 550px) {
      font-size: 13px;
    }
  }
  &-anim {
    animation: fade-in-bottom 0.6s;
  }
}
